# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
build/
dist/
develop-eggs/
.eggs/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
htmlcov/
.tox/
.nox/
.coverage/
.cache/
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.dmypy.json
.vscode/

# Environment variables
.env

# Database files
*.db
*.sqlite
*.sqlite3

# PyCharm specific
.idea/
*.iml
